@media (max-width: 992px) {

}
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}

*{
    margin:0; padding: 0;
    font-family: 'Jost', sans-serif;
}
#aboutme{
    margin-top:30px ;
}
figure{
    position: relative;
    width: 100%;
    height: 60%;
    margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('bg5.jpg');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
.nounderline{
    text-decoration: none;
}
.container-fluid div{
    background-color:whitesmoke!important;
}
.navbar{
    background-color: rgba(0, 0, 0,0.6)!important;
}
.navbar-nav li{
    padding-right: 0.7rem;
}
.jumbotron {
  text-align: center;
  padding-top: 10rem;
  padding-bottom: 10rem;
 
  background-image: url('bgg.jpg');
  background-size: cover;
 
}
.fa-gamepad{
  size: 20px;
  font-size: 4em;
}
.fa-laptop-code{
  size: 20px;
  font-size: 4em;
}
.fa-code{
    color: #e54d26;
    size: 20px;
}
.fa-bold{
    color: #563d7c;
}
.fa-css3{
    color: #2163af;
}
.fa-code,.fa-bold,.fa-css3{
    font-size: 4em;
}
.social a{
    font-size: 2em;
    padding: 1rem;
}
.fa-facebook{
  color: #3b5998;
}
.fa-linkedin{
  color:  #0077b5;   
}
.fa-github{
    color: black;
}
.fa-instagram{
    color: #da2d8c;
}
.fa-whatsapp{
    color: #2cdb52;
}
.fa-whatsapp:hover,.fa-facebook:hover,.fa-linkedin:hover,.fa-github:hover,.fa-instagram:hover{
    color: grey;
}
#mainfooter{
  background-color: rgb(209, 209, 209);
  text-align: center;
  padding: 5px;
  margin-top: 50px;
}